<!DOCTYPE html>
<h1 class="color-primary text-center mt-6 text-uppercase">Publier un article</h1>
<form [formGroup]="createForm" class="m-4">
    <fieldset>
        <app-input 
        [labelText]="'Titre'"
        [inputErrors]="createForm.controls.title.errors"
        [errorsDefs]="{ 
            required: 'Un titre d\'article est requis',
            remote: 'Le titre d\'article est incorrect'
            }">
            <input type="text" formControlName="title" name="title" class="form-control">
        </app-input>
        <app-input [labelText]="'Description'">
            <textarea formControlName="description" name="description" class="form-control" rows="3"></textarea>
        </app-input>
        <app-input [labelText]="'Tags'">
            <rl-tag-input formControlName="tags" name="tags"></rl-tag-input>
        </app-input>
        <app-input [labelText]="'Contenu'">
            <app-ngx-editor [config]="config"  formControlName="body" name="body" (ngModelChange)="sanitize($event)"></app-ngx-editor>
        </app-input>
        <div class="form-group">
            <div class="text-right">
                <button (click)="reset()" class="btn btn-primary">
                    <i class="fa fa-arrow-left no-mr ml-1"></i>
                    Annuler
                </button>
                <button (click)="submit()" class="btn btn-raised btn-primary">
                    Valider
                    <i class="fa fa-arrow-right no-mr ml-1"></i>
                </button>
            </div>
        </div>
    </fieldset>
</form>  
