<!DOCTYPE html>
<app-article *ngIf="comment.source.kind === 'article'" [article]="comment.source.item"></app-article>
<app-proposition *ngIf="comment.source.kind === 'proposition'" [proposition]="comment.source.item"></app-proposition>
<app-rating *ngIf="comment.source.kind === 'rating'" [rating]="comment.source.item"></app-rating>
<app-task *ngIf="comment.source.kind === 'task'" [task]="comment.source.item"></app-task>
<app-tender *ngIf="comment.source.kind === 'tender'" [tender]="comment.source.item"></app-tender>
<div class="card-block no-mt no-mb bg-light" *ngIf="comment && comment.body">
    <p><em>{{ comment.body  | truncate }}</em></p>
</div>

