<!DOCTYPE html>
<div *ngIf="article">
    <div class="card-header media bg-dark color-white">
        <div class="align-self-center mr-3">
            <img src="{{ article.author.image || '/assets/img/no-picture.jpg'}}" alt="{{ article.author.displayName }}" class="img-avatar-circle-sm mr-1">
        </div>
        <div class="media-body">
            <a class="btn-link" [routerLink]="[ '/account', article.author._id, 'detail' ]" *ngIf="!article.canEdit">{{ article.author.displayName }}</a>
            <a class="btn-link" [routerLink]="[ '/account/profile' ]" *ngIf="article.canEdit">vous</a>
            <span class="d-block">
                <i class="fa fa-clock-o no-mr color-info"></i>
                <small>{{ article.createdAt | amLocale:'fr' | amCalendar }}</small>
            </span>                
        </div>
        <div class="align-self-center ml-3" *ngIf="article.canEdit">
            <a [routerLink]="['/article', article._id, 'edit' ]" class="btn-circle btn-circle-primary color-warning">
                <i class="fa fa-edit ml-1"></i>
            </a>
        </div>
    </div>
    <div class="card-block">
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
        <a [routerLink]="['/search', 'tag', tag ]" class="ms-tag ms-tag-info" *ngFor="let tag of article.tags">{{ tag }}</a>
    </div>
    <div class="card-block container-fluid">
        <div [innerHtml]="article.body"></div>
    </div>
    <div class="card-block">
        <a class="ms-icon color-royal" [class.ms-icon-inverse]="fragment != 'likes'" (click)="setFragment('likes')">
            <i class="fa fa-thumbs-up"></i>
            {{ article.nbLikes || 0}} 
        </a>
        <a class="ms-icon color-info" [class.ms-icon-inverse]="fragment != 'comments'" (click)="setFragment('comments')">
            <i class="fa fa-comments"></i>
            {{ article.nbComments || 0}} 
        </a>
    </div>
    <div *ngIf="fragment == 'likes'" class="animated fadeIn animation-delay-2">
        <app-likes [kind]="'article'" [item]="article" [mylike]="article.myLike" (notify)="onNotify($event)"></app-likes>
    </div>
    <div *ngIf="fragment == 'comments'" class="animated fadeIn animation-delay-2">
        <app-comments [kind]="'article'" [item]="article" (notify)="onNotify($event)"></app-comments>
    </div>  
</div>

