<!DOCTYPE html>
<div class="ms-slidebar sb-slidebar sb-left sb-momentum-scrolling sb-style-overlay" *ngIf="this.layout.menuIsVisible">
  <header class="ms-slidebar-header">
    <div class="ms-slidebar-login">
      <a (click)="logout()" *ngIf="this.auth.loggedIn"  class="withripple">
        <i class="zmdi zmdi-close-circle"></i> Déconnexion
      </a>
      <a routerLink="/sign" *ngIf="!auth.loggedIn"  class="withripple">
        <i class="zmdi zmdi-account"></i> S'identifier
      </a>
    </div>
    <div class="ms-slidebar-title">
      <div class="ms-slidebar-t">
        <span class="ms-logo ms-logo-sm">SH</span>
        <h3>Skills<span>Hub</span></h3>
      </div>
    </div>
  </header>
  <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
    <li><a routerLink="/" class="link"><i class="zmdi zmdi-home"></i> Accueil</a></li>
    <li><a routerLink="/articles" class="link"><i class="zmdi zmdi-collection-text"></i> Actualités</a></li>
    <li><a routerLink="/help" class="link"><i class="zmdi zmdi-help"></i> Besoin d'aide ?</a></li>
    <li><a routerLink="/contact" class="link"><i class="zmdi zmdi-account"></i> Nous contacter</a></li>
  </ul>
</div>
