<!DOCTYPE html>
<div class="text-center mt-1 mb-1">
    <a routerLink="/external/facebook" class="btn-circle btn-facebook">
        <i class="zmdi zmdi-facebook"></i>
    </a>
    <a routerLink="/external/twitter" class="btn-circle btn-twitter">
        <i class="zmdi zmdi-twitter"></i>
    </a>
    <a routerLink="/external/google" class="btn-circle btn-google">
        <i class="zmdi zmdi-google"></i>
    </a>
</div>
<form [formGroup]="loginForm" (submit)="login()">
    <fieldset>
        <app-input 
            [handle]="loginForm.controls.email"
            [label]="'Adresse e-mail'"
            [errors]="{ 
                required: 'Une adresse e-mail est requise',
                email: 'L\'adresse e-mail est invalide',
                remote: 'L\'adresse e-mail est incorrecte'
            }">
            <input type="email" formControlName="email" name="email" class="form-control">
        </app-input>
        <app-input  
            [handle]="loginForm.controls.password"
            [label]="'Mot de passe'"
            [errors]="{ 
                required: 'Un mot de passe est requis',
                remote: 'Le mot de passe est incorrect'
            }">
            <input type="password" formControlName="password" name="password" class="form-control">
        </app-input>
        <div class="form-group row text-right">
            <div class="offset-md-2 col-md-10">
                <button class="btn btn-raised btn-primary mt-3" type="submit">Je me connecte</button>
            </div>      
        </div>        
    </fieldset>
</form>