<!DOCTYPE html>
<div class="material-background"></div>
<div class="container">
    <div id="ms-preload" class="ms-preload" *ngIf="loading">
        <div id="status">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <div class="row masonry-container">
        <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2" *ngFor="let article of articles">
            <article class="card card-primary card-block mb-4 wow materialUp animation-delay-5">
                <div class="media">
                    <div class="media-left media-object">
                        <img src="/assets/img/no-picture.jpg" alt="..." class="img-circle mr-1">
                    </div>
                    <div class="media-body">
                        <a class="media-title" href="#">{{ article.author.firstname }}</a><br>
                        <span class="color-medium-dark">{{ article.createdAt | amCalendar }}</span>                        
                    </div>
                </div>
                <h3 class="mt-2">
                    <a [routerLink]="article._id">{{ article.title }}</a><br>
                    <small><em>{{ article.description }}</em></small>
                </h3>
                <div class="card-text" [innerHtml]="article.body"></div>
                <div class="row mt-4">
                    <div class="col-lg-6 col-md-4">
                        <a href="#" class="ms-tag ms-tag-info" *ngFor="let tag of article.tags">{{ tag }}</a>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <a [routerLink]="article._id" class="btn btn-primary btn-raised btn-sm btn-block animate-icon">Lire l'article
                            <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

