<!DOCTYPE html>
<app-header [image]="'keyboard'">
    <div class="mb-4">
        <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">SH</span>
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Skills
            <span>Hub</span>
        </h1>
        <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
            Rejoignez nous dès maintenant et bénéficiez de  
            <span class="color-warning">6 mois</span> gratuit sur tous nos abonnements.
        </p>
    </div>
</app-header>
<div class="container">
    <div class="card card-hero card-block no-pt animated fadeInUp animation-delay-7">
        <form [formGroup]="forgotForm" (submit)="forgot()">
            <fieldset>
                <app-input  
                    [inputErrors]="forgotForm.controls.email"
                    [labelText]="'Adresse e-mail'"
                    [errorsDefs]="{
                        required: 'Adresse e-mail requise',
                        email: 'Adresse e-mail invalide',
                        remote: 'Adresse e-mail incorrecte'}">
                    <input type="email" formControlName="email" name="email" class="form-control">
                </app-input>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10 text-right">
                        <button class="btn btn-raised btn-primary mt-3" type="submit">Envoyer</button>
                    </div>      
                </div>   
            </fieldset>
        </form>
    </div>
</div>

