<!DOCTYPE html>
<app-header [image]="'keyboard'">
    <div class="mb-4">
        <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">SH</span>
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Skills
            <span>Hub</span>
        </h1>
        <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
            Rejoignez nous dès maintenant et bénéficiez de  
            <span class="color-warning">6 mois</span> gratuit sur tous nos abonnements.
        </p>
    </div>
</app-header>
<div class="container">
    <div class="card card-hero card-block no-pt animated fadeInUp animation-delay-7">
        <h1 class="color-primary text-center mt-6 text-uppercase">Mot de passe oublié</h1>
        <form [formGroup]="forgotForm" (submit)="forgot()">
            <fieldset>
                <app-input  
                    [inputErrors]="forgotForm.controls.email"
                    [labelText]="'Adresse e-mail'"
                    [errorsDefs]="{
                        required: 'Adresse e-mail requise',
                        email: 'Adresse e-mail invalide',
                        remote: 'Adresse e-mail incorrecte'}">
                    <input type="email" formControlName="email" name="email" class="form-control">
                </app-input>
                <div class="form-group row text-right">
                    <div class="offset-md-2 col-md-10">
                        <div class="row justify-content-end">
                            <div class="col-lg-4 order-lg-3">
                                <button class="btn btn-raised btn-block btn-primary" type="submit">
                                    Envoyer
                                </button>
                            </div>
                            <div class="col-lg-4 col-md-6 order-lg-2">
                                <a [routerLink]="['/account/login']" class="btn btn-link btn-block color-dark">
                                    <i class="fa fa-user-circle mr-05"></i>
                                    J'ai déjà un compte
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 order-lg-1">
                                <a [routerLink]="['/account/register']" class="btn btn-link btn-block color-dark">
                                    <i class="fa fa-user-circle-add mr-05"></i>
                                    Pas encore inscrit
                                </a>
                            </div>
                        </div>
                    </div>      
                </div>  
            </fieldset>
        </form>
        <div class="text-center mt-2 mb-2">
            <a routerLink="/external/facebook" class="btn-circle btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a routerLink="/external/twitter" class="btn-circle btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a routerLink="/external/google" class="btn-circle btn-google">
                <i class="fa fa-google"></i>
            </a>
        </div>
    </div>
</div>

