<!DOCTYPE html>
<div class="card animated fadeInUp animation-delay-7" *ngIf="currentUser">
  <div class="ms-hero-bg-dark ms-hero-img-team">
    <div class="color-white index-1 text-center no-m pt-4">
        <h2>{{ currentUser.displayName }}</h2>
        <div class="rating-list index-1 text-center mt-4">
            <span class="rating-list-item" [class.color-warning]="currentUser.nbStars>=1"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="currentUser.nbStars>=2"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="currentUser.nbStars>=3"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="currentUser.nbStars>=4"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="currentUser.nbStars>=5"><i class="zmdi zmdi-star" ></i></span>
        </div>
    </div>
    <img src="{{ currentUser.image || 'assets/img/no-picture.jpg'}}" class="img-avatar-circle"> </div>
  <div class="card-block pt-4">
    <h3 class="color-primary text-center">Qui suis-je</h3>
    <p class="text-justify">{{ currentUser.bio | truncate }}</p>
    <div class="text-right">
        <a [routerLink]="['/account', currentUser._id, 'detail' ]" class="btn btn-primary color-white btn-raised btn-sm no-mt">
            <i class="zmdi zmdi-eye mr-05"></i>
            <span class="d-none d-md-inline-block ml-1">Découvrir</span>
        </a>
    </div>
  </div>
</div>
  