<!DOCTYPE html>
<nav class="navbar navbar-expand-md navbar-fixed ms-lead-navbar navbar-mode navbar-mode mb-0">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="ms-logo ms-logo-sm">SH</span>
                <span class="ms-title">
                  <strong>Skills</strong>
                    Hub
                </span>
            </a>  
        </div>

        <div class="collapse navbar-collapse" id="ms-navbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link ">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="/search" class="nav-link ">Rechercher</a>
                </li>
                <li class="nav-item">
                    <a href="/articles" class="nav-link ">Fil d'actualité</a>
                </li>
                <li class="nav-item">
                    <a href="/tenders" class="nav-link ">Appels d'offres</a>
                </li>
                <li class="nav-item" *ngIf="this.auth.loggedIn">
                    <a href="/account" class="nav-link ">Mon compte</a>
                </li>
                <li class="nav-item" *ngIf="!this.auth.loggedIn">
                    <a href="/sign" class="nav-link ">Se connecter</a>
                </li>
            </ul>
        </div>
        <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu">
            <i class="zmdi zmdi-menu"></i>
        </a>
    </div>
</nav>
