<!DOCTYPE html>
<nav class="navbar navbar-expand-md navbar-fixed ms-lead-navbar navbar-mode navbar-mode mb-0">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']">
                <span class="ms-logo ms-logo-sm">SH</span>
                <span class="ms-title"><strong>Skills</strong>Hub</span>
            </a>  
        </div>
        <div class="collapse navbar-collapse" id="ms-navbar">
            <ul class="nav navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/home']" class="nav-link ">Accueil</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/search']" class="nav-link ">Rechercher</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a [routerLink]="['/wall']" class="nav-link ">Fil d'actualité</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="this.auth.loggedIn">
                    <a [routerLink]="['/account']" class="nav-link ">Mon compte</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="this.auth.loggedIn">
                    <a [routerLink]="['/dashboard']" class="nav-link ">Mon tableau de bord</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="this.auth.loggedIn">
                    <a [routerLink]="['/gallery']" class="nav-link ">Ma galerie</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!this.auth.loggedIn">
                    <a [routerLink]="['/sign']" class="nav-link ">Se connecter</a>
                </li>
            </ul>
        </div>
        <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu">
            <i class="zmdi zmdi-menu"></i>
        </a>
    </div>
</nav>
