<!DOCTYPE html>
<div class="ms-hero-page ms-hero-img-glasses ms-hero-bg-dark ms-bg-fixed mb-4">
  <div class="container mt-6 mb-6 pt-6 pb-6">
    <div class="text-center">
      <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Fil d'actualité</h1>
      <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
        Quelles sont les dernieres actualités ?
        <br>Découvrez et partager vos expériences.</p>
     <a href="javascript:void(0)" class="btn btn-warning">
        <i class="zmdi zmdi-desktop-mac"></i> View Projects</a>
      <a href="javascript:void(0)" class="btn btn-info">
        <i class="zmdi zmdi-accounts"></i> Publier un article</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-block card-block-big">
        <ul class="ms-timeline">
            <li class="ms-timeline-item" *ngFor="let event of events">
              <div class="ms-timeline-date">
                <i class="ms-timeline-point"></i>
                <app-event [event]="event"></app-event>
              </div>
            </li>
          </ul>
    </div>
  </div>
</div>

