<!DOCTYPE html>
<div class="card">
  <div class="media pt-2 pb-1 pl-1 pr-1">
    <div class="media-left media-middle">
      <span class="ms-icon ms-icon-circle ms-icon-xlg"><i class="fa fa-book"></i></span>
    </div>
    <div class="media-body">
      <h4 class="fw-400">Fil d'actualité</h4>
    </div>
  </div>
  <div class="card-block">
    <ul class="ms-timeline">
      <li class="ms-timeline-item" *ngFor="let event of events">
        <div class="ms-timeline-date">
          <time class="timeline-time" datetime="{{ event.updatedAt }}">
            {{ event.updatedAt | amCalendar }}
          </time>
          <i class="ms-timeline-point"></i>
          <app-event [event]="event"></app-event>
        </div>
      </li>
    </ul>
  </div>
</div>

