<!DOCTYPE html>
<ul class="list-unstyled">
    <li class="media" *ngFor="let event of events">
        <div class="media-left media-object media-middle">
            <img src="{{ event.author.image || '/assets/img/no-picture.jpg'}}" alt="{{ event.author.displayName }}" class="img-avatar-circle-sm mr-1">
        </div>
        <div class="media-body media-middle">
            <a class="media-title" [routerLink]="['/user', event.author._id]">{{ event.author.displayName }}</a><br>
            <small><em>{{ event.type | eventType:isEventFromCurrentUser(event) }}</em></small>
            <p>{{ event.source.item.title }}</p>
        </div>
        <div class="media-footer media-bottom color-dark pull-right">
            <i class="zmdi zmdi-time no-mr"></i>
            <small>{{ event.updatedAt | amLocale:'fr' | amTimeAgo}}</small>
        </div>
    </li>
</ul> 
