<!DOCTYPE html>
<form [formGroup]="forgotForm" (submit)="forgot()">
    <fieldset>
        <app-input  
            [label]="'Adresse e-mail'"
            [errors]="forgotForm.controls.email.errors"
            [defs]="{
                required: 'Adresse e-mail requise',
                email: 'Adresse e-mail invalide',
                remote: 'Adresse e-mail incorrecte'}">
            <input type="email" formControlName="email" name="email" class="form-control">
        </app-input>
        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <button class="btn btn-raised btn-primary mt-3" type="submit">Envoyer</button>
            </div>      
        </div>   
    </fieldset>
</form>