<!DOCTYPE html>
<div class="card card-light">
    <div class="card-header bg-primary-dark">
        <h3 class="card-title color-white">
            <i class="zmdi zmdi-account-circle"></i> Données personnelles
        </h3>
    </div>
    <div class="card-block">
        <table class="table table-no-border table-striped">
            <tr>
                <th><i class="zmdi zmdi-email mr-1"></i> Email</th>
                <td><a href="#">{{ user.email }}</a></td>
            </tr>
            <tr>
                <th>
                <i class="zmdi zmdi-face mr-1"></i> Nom</th>
                <td>{{ user.displayName }}</td>
            </tr>        
            <tr>
                <th><i class="zmdi zmdi-calendar mr-1"></i> Membre depuis le</th>
                <td>{{ user.createdAt  | amLocale: 'fr' | amCalendar }}</td>
            </tr>
            <tr *ngIf="user.address">
                <th><i class="zmdi zmdi-pin mr-1"></i> Adresse</th>
                <td>{{ user.address.long }}</td>
            </tr>
        </table>
    </div>
</div>


