<!DOCTYPE html>
<div [ngSwitch]="mode">
    <div class="card card-light-inverse animated materialUp animation-delay-5" *ngSwitchCase="'full'">
        <div class="card-header media">
            <div class="media-left media-object">
                <img src="/assets/img/no-picture.jpg" alt="..." class="img-circle mr-1">
            </div>
            <div class="media-body">
                <a class="media-title" href="#">{{ article.author.displayName }}</a><br>
                <span class="color-medium-dark">{{ article.updatedAt | amCalendar }}"</span>
            </div>
        </div>
        <div class="card-block">
            <h2 class="color-primary">{{ article.title }}</h2>
            <div [innerHtml]="article.body"></div>
        </div>    
    </div>
    <div class="card-light-inverse" *ngSwitchCase="'mini'">
        <h4><em>{{ article.title }}</em></h4>
        <p class="lead">{{ article.description }}</p>
    </div> 
</div>

