<!DOCTYPE html>
<h1 class="color-primary text-center mt-6 text-uppercase">Modifier un article</h1>
<form [formGroup]="editForm" class="m-4">
  <fieldset>
    <app-input 
        [labelText]="'Titre'" 
        [inputErrors]="editForm.controls.title.errors"
        [errorsDefs]="{ 
            required: 'Un titre d\'article est requis',
            remote: 'Le titre d\'article est incorrect'
        }">
        <input type="text" formControlName="title" name="title" class="form-control">
    </app-input>                
    <app-input 
        [inputErrors]="editForm.controls.description"
        [labelText]="'Description'">
        <textarea formControlName="description" name="description" class="form-control" rows="3"></textarea>  
    </app-input>
    <app-input [labelText]="'Tags'">
        <rl-tag-input formControlName="tags" name="tags"></rl-tag-input>
    </app-input>
    <app-input [labelText]="'Contenu'">
        <app-ngx-editor [config]="config"  formControlName="body" name="body" (ngModelChange)="sanitize($event)"></app-ngx-editor>
    </app-input>
    <div class="form-group row">
        <div class="offset-md-2 col-md-10 text-right">
            <a (click)="reset()" class="btn btn-primary">
                <i class="zmdi zmdi-long-arrow-left no-ml mr-1"></i>
                Annuler
            </a>
            <a (click)="submit()" class="btn btn-raised btn-primary">
                Valider
                <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
            </a>
        </div>      
    </div>
  </fieldset>
</form>  
