<!DOCTYPE html>
<div class="card-block">
    <a [routerLink]="['/tender', tender._id, 'detail']" class="btn-link pub-title">{{ tender.title }}</a>
    <div class="card mt-1">
        <table class="table table-no-border table-striped table-condensed">
            <tr>
                <th><i class="fa fa-bookmark mr-1 color-warning"></i> <span class="d-none d-md-inline-block">Catégorie</span></th>
                <td>{{ tender.category.title }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-map mr-1 color-success"></i> <span class="d-none d-md-inline-block">Localite</span></th>
                <td>{{ tender.address.short }}</td>
            </tr>        
            <tr>
                <th><i class="fa fa-calendar mr-1 color-info"></i> <span class="d-none d-md-inline-block">Date</span></th>
                <td>{{ tender.workDate  | amLocale: 'fr' | amCalendar }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-bell mr-1 color-danger"></i> <span class="d-none d-md-inline-block">Echéance</span></th>
                <td>{{ tender.validityEnd  | amLocale: 'fr' | amCalendar }}</td>
            </tr>
        </table>
    </div>    
    <div class="mt-2">
        <app-reactions [nbComments]="tender.nbComments" [nbLikes]="tender.nbLikes" [link]="['/tender', tender._id, 'detail']"></app-reactions>
        <a [routerLink]="['/tender', tender._id, 'detail']" fragment="propositions" class="ms-icon ms-icon-inverse color-warning">
            <i class="fa fa-envelope-open"></i>
            {{ tender.nbPropositions || 0}}
        </a>
    </div>
</div>


