<!DOCTYPE html>
<div class="card-block">
    <a [routerLink]="['/tender', tender._id]">
        <h3 class="no-mt">{{ tender.title }}</h3>
    </a>
    <dl class="dl-horizontal">
        <dt><i class="zmdi zmdi-pin mr-1 color-warning"></i> Categorie</dt>
        <dd>{{ tender.category.title }}</dd>
        <dt><i class="zmdi zmdi-pin mr-1 color-royal"></i> Localité</dt>
        <dd>{{ tender.address.short }}</dd>
        <dt><i class="zmdi zmdi-calendar mr-1 color-info"></i> Date</dt>
        <dd>{{ tender.workDate | amLocale:'fr' | amCalendar }}</dd>
        <dt><i class="zmdi zmdi-notifications mr-1 color-danger"></i> Echéance</dt>
        <dd>{{ tender.validityEnd | amLocale:'fr' | amCalendar }}</dd>
    </dl>
</div>


