<!DOCTYPE html>
<div class="card card-hero animated fadeInUp animation-delay-7">
    <div class="card-header-100 bg-dark">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="text-center">
                    <h3><strong>{{ user.nbArticles || 0 }}</strong></h3> 
                    Articles 
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <h3><strong>{{ user.NbTenders || 0 }}</strong></h3> 
                    Appels d'offres
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <h3><strong>{{ user.nbComments || 0 }}</strong></h3>
                    Commentaires
                </div>
            </div>
        </div>
    </div> 
</div>

