<!DOCTYPE html>
<h1 class="color-primary text-center mt-4 mb-4">Activités récentes</h1>
<ul class="ms-timeline">
    <li class="ms-timeline-item ms-media-list" *ngFor="let event of events">
        <div class="ms-timeline-date">
            <time class="timeline-time">{{ event.updatedAt | amLocale:'fr' | amTimeAgo}}</time>
            <i class="ms-timeline-point"></i>
        </div> 
        <div class="card card-event no-p wow materialUp">
            <div class="alert alert-default">
                <em>vous {{ event.type | eventType:true:event.author.displayName }}</em>
            </div>    
            <div class="card card-item" *ngIf="event.source.kind !== 'user'">
                <app-event [event]="event"></app-event>
            </div>
        </div>
    </li>
    
</ul>