<!DOCTYPE html>
<div *ngIf="user">
    <app-header [image]="'room'">
        <img class="ms-avatar-hero" src="{{ user.image || '/assets/img/no-picture.jpg'}}" alt="{{ user.displayName }}"/>
        <h1 class="color-white mt-4">{{ user.displayName }}</h1>        
        <div class="rating-list mb-4">
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=1"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=2"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=3"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=4"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=5"><i class="zmdi zmdi-star" ></i></span>
        </div>
        <blockquote class="blockquote color-medium">{{ user.bio }}</blockquote>
    </app-header>
    <div class="container">
        <app-account-stats [user]="user"></app-account-stats>
        <app-account-infos [user]="user" (notify)="onNotify($event)"></app-account-infos>
        <app-account-address [address]="user.address"></app-account-address>
    </div>
    <div class="container" *ngIf="events">
        <app-account-journal [events]="events"></app-account-journal>
    </div>
</div>
