<!DOCTYPE html>
<div *ngIf="user">
    <app-header [image]="'room'">
        <img class="ms-avatar-hero" src="{{ user.image || '/assets/img/no-picture.jpg'}}" alt="{{ user.displayName }}"/>
        <h1 class="color-white mt-2 mb-2">{{ user.displayName }}</h1>
        <div class="rating-list mt-4 mb-4">
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=1"><i class="fa fa-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=2"><i class="fa fa-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=3"><i class="fa fa-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=4"><i class="fa fa-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=5"><i class="fa fa-star" ></i></span>
        </div>
        <div class="color-white d-none d-md-block mt-4">
            <app-account-stats [user]="user"></app-account-stats>
        </div>
    </app-header>

    <div class="container">

        <div class="card card-hero wow materialUp">
            <div class="card-header bg-dark">
                <h1 class="card-title color-white">Qui suis-je</h1>
            </div>
            <app-account-infos [user]="user" (notify)="onNotify($event)"></app-account-infos>
        </div>

        <div class="card wow materialUp">
            <div class="card-header bg-dark">
                <h1 class="card-title color-white">Mon adresse</h1>
            </div>
            <app-address [id]="user.address"></app-address>
        </div>
    </div>
    <div class="container">
        <app-events [query]="eventQuery"></app-events>
    </div>
</div>
