<!DOCTYPE html>
<h1 class="color-primary text-center mt-6 text-uppercase">Publier un appel d'offres</h1>
<form [formGroup]="createForm" class="m-4">
    <fieldset>
        <app-input 
        [labelText]="'Titre'"
        [inputErrors]="createForm.controls.title.errors"
        [errorsDefs]="{ 
            required: 'Un titre d\'appel d\'offres est requis',
            remote: 'Le titre d\'appel d\'offres est incorrect'
            }">
            <input type="text" formControlName="title" name="title" class="form-control">
        </app-input>
        <app-input 
        [labelText]="'Catégorie'"
        [inputErrors]="createForm.controls.category.errors"
        [errorsDefs]="{ 
            required: 'Une catégorie d\'appel d\'offres est requise',
            remote: 'La catégorie d\'appel d\'offres est incorrecte'
            }">
            <select id="categories" formControlName="category" class="form-control form-control-lg">
              <option *ngFor="let cat of categories" [value]="cat._id">{{ cat.title }}</option>
            </select>
        </app-input>
        <app-input 
        [labelText]="'A faire le'"
        [inputErrors]="createForm.controls.workDate.errors"
        [errorsDefs]="{ 
            required: 'Une date de réalisation est requise',
            remote: 'La date de réalisation est incorrecte'
            }">
            <input type="date" formControlName="workDate" name="workDate" class="form-control" useValueAsDate>
        </app-input>
        <app-input 
        [labelText]="'Ouvert du'"
        [inputErrors]="createForm.controls.validityStart.errors"
        [errorsDefs]="{ 
            required: 'Une date de début de validité est requise',
            remote: 'La date de début de validité est incorrecte'
            }">
            <input type="date" formControlName="validityStart" name="validityStart" class="form-control" useValueAsDate>
        </app-input>
        <app-input 
        [labelText]="'au'"
        [inputErrors]="createForm.controls.validityEnd.errors"
        [errorsDefs]="{ 
            required: 'Une date de fin de validité est requise',
            remote: 'La date de fin de validité est incorrecte'
            }">
            <input type="date" formControlName="validityEnd" name="validityEnd" class="form-control" useValueAsDate>
        </app-input>
        <app-input [labelText]="'Description'">
            <textarea formControlName="description" name="description" class="form-control" rows="6"></textarea>
        </app-input>
        <div class="form-group">
            <div class="text-right">
                <button (click)="reset()" class="btn btn-primary">
                    <i class="fa fa-arrow-left no-mr ml-1"></i>
                    Annuler
                </button>
                <button (click)="submit()" class="btn btn-raised btn-primary">
                    Valider
                    <i class="fa fa-arrow-right no-mr ml-1"></i>
                </button>
            </div>
        </div>
    </fieldset>
</form>  
