<!DOCTYPE html>
<div class="ms-site-container ms-nav-fixed">
    <!-- Header -->
    <app-navbar ></app-navbar>
    <!-- Contenu des pages -->
    <router-outlet></router-outlet>
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- Back to top -->
    <div class="btn-back-top">
        <a (click)="scrollToTop()" id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised color-white">
            <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
    </div>
</div>

<!-- Menu -->
<app-menu></app-menu>
