<!DOCTYPE html>
<div class="ms-site-container">
    <!-- Header -->
    <app-header></app-header>
    <!-- Contenu des pages -->
    <router-outlet></router-outlet>
    <!-- Footer-->
    <app-footer></app-footer>
    <!-- Bouton de renvoi en Haut de page -->
    <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
            <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
    </div>
</div>
<!-- Menu -->
<app-menu></app-menu>
