<!DOCTYPE html>
<div class="ms-site-container">
    <!-- Modal -->
    <div class="modal modal-dark" id="ms-account-modal" tabindex="-1" role="dialog" aria-labelledby="Connexion">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
            <div class="modal-content">
                <div class="modal-header d-block shadow-2dp no-pb">
                    <button type="button" class="close d-inline pull-right mt-2" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
                    <div class="modal-title text-center">
                        <span class="ms-logo">SH</span>
                        <h3 class="no-m ms-site-title">Skills<span>Hub</span></h3>
                    </div>
                    <div class="modal-header-tabs">
                        <ul class="nav nav-tabs nav-tabs-full nav-tabs-3 nav-tabs-dark" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="#ms-login-tab-modal" aria-controls="ms-login-tab-modal" role="tab" data-toggle="tab" class="nav-link active withoutripple">
                                    <i class="zmdi zmdi-account"></i> Se connecter
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#ms-register-tab-modal" aria-controls="ms-register-tab-modal" role="tab" data-toggle="tab" class="nav-link withoutripple">
                                    <i class="zmdi zmdi-account-add"></i> S'inscrire
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#ms-recovery-tab-modal" aria-controls="ms-recovery-tab-modal" role="tab" data-toggle="tab" class="nav-link withoutripple">
                                    <i class="zmdi zmdi-key"></i> Mot de passe oublié
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="ms-login-tab-modal">
                            <app-login></app-login>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="ms-register-tab-modal">
                            <app-register></app-register>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="ms-recovery-tab-modal">
                            <app-forgot></app-forgot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
    <app-header></app-header>
    <!-- Contenu des pages -->
    <router-outlet></router-outlet>
    <!-- Footer-->
    <app-footer></app-footer>
    <!-- Bouton de renvoi en Haut de page -->
    <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-royal btn-circle-sm btn-circle-raised ">
            <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
    </div>
</div>
<!-- Menu -->
<app-menu></app-menu>
