<!DOCTYPE html>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card card-block">
            <h2 class="text-center">Inscrivez-vous</h2>
            <div class="row mt-4 mb-2 text-center">
                <a routerLink="/facebook" class="btn-circle btn-circle-raised btn-facebook mr-6">
                    <i class="zmdi zmdi-facebook"></i>
                </a>
                <a routerLink="/twitter" class="btn-circle btn-circle-raised btn-twitter mr-6">
                    <i class="zmdi zmdi-twitter"></i>
                </a>
                <a routerLink="/google" class="btn-circle btn-circle-raised btn-google">
                    <i class="zmdi zmdi-google"></i>
                </a>
            </div>
            <form [formGroup]="registerForm" (submit)="register()">
                <extended-input  
                [text]="'Adresse e-mail'" 
                [errors]="registerForm.controls.email.errors"
                [defs]="{
                    required: 'Adresse e-mail requise',
                    email: 'Adresse e-mail invalide',
                    remote: 'Adresse e-mail incorrecte'}">
                    <input type="email" formControlName="email" name="email" class="form-control">
                </extended-input>
                <extended-input  
                [text]="'Mot de passe'" 
                [errors]="registerForm.controls.password.errors"
                [defs]="{ 
                    required: 'Mot de passe requis',
                    remote: 'Mot de passe incorrect'}">
                    <input type="password" formControlName="password" name="password" class="form-control">
                </extended-input>
                <extended-input  
                [text]="'Confirmer mot de passe'" 
                [errors]="registerForm.controls.confirmpwd.errors"
                [defs]="{ 
                    required: 'Cofirmation mot de passe requis',
                    notEquivalent: 'Confirmation mot de passe incorrecte'}">
                    <input type="password" formControlName="confirmpwd" name="confirmpwd" class="form-control">
                </extended-input>   
                <extended-input
                [text]="'Nom'"
                [errors]="registerForm.controls.lastname.errors"
                [defs]="{ 
                    required: 'Nom requis',
                    remote: 'Nom incorrecte'}">
                    <input type="text" formControlName="lastname" name="lastname" class="form-control">
                </extended-input>
                <extended-input  
                [text]="'Prénom'" 
                [errors]="registerForm.controls.firstname.errors"
                [defs]="{ 
                    required: 'Prénom requis',
                    remote: 'Prénom incorrecte'}">
                    <input type="text" formControlName="firstname" name="firstname" class="form-control">
                </extended-input>
                <div class="row pr-2 pl-2 mt-4">
                    <div class="col-md-6">
                        <a routerLink="/login" class="btn btn-link btn-sm">
                          J'ai déjà un compte
                          <i class="zmdi zmdi-account mr-1"></i> 
                        </a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-raised btn-royal btn-block">
                          Je m'inscris
                          <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




