<!DOCTYPE html>
<aside class="ms-footbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-7 ms-footer-col ms-footer-alt-color">
          <div class="ms-footbar-block">
            <ul class="list-unstyled ms-icon-list two-cols">
                <li><a href="/"><i class="fa fa-home"></i> Accueil</a></li>
                <li><a href="/search"><i class="fa fa-search"></i>Rechercher</a></li>                
                <li><a href="/help"><i class="fa fa-question-circle"></i> FAQ</a></li>
                <li><a href="/contact"><i class="fa fa-envelope"></i> Nous contacter</a></li>
                <li><a href="/about"><i class="fa fa-users"></i> Qui sommes-nous</a></li>
                <li><a href="/cga"><i class="fa fa-user-secret"></i> Conditions générales</a></li>
            </ul>
          </div>
        </div>        
        <div class="col-lg-3 col-md-5 ms-footer-col ms-footer-text-right">
          <div class="ms-footbar-block">
            <div class="ms-footbar-title">
              <span class="ms-logo ms-logo-white ms-logo-sm mr-1">SH</span>
              <h3 class="no-m ms-site-title">Skills<span>Hub</span></h3>
            </div>            
          </div>
          <div class="ms-footbar-block">
            <div class="ms-footbar-social">
              <a href="javascript:void(0)" class="btn-circle btn-facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="javascript:void(0)" class="btn-circle btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="javascript:void(0)" class="btn-circle btn-google">
                <i class="fa fa-google"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

<footer class="ms-footer">
    <div class="container">
        <p class="text-left">Copyright &copy; SkillsHub {{ today | date: 'yyyy' }}</p>
    </div>
</footer>
