<!DOCTYPE html>
<div class="container-fluid">
    <div class="row">            
        <div class="col-md-4">                
            <div id="infos">
                <app-infos></app-infos>
            </div>              
            <a [routerLink]="['/account/edit']" class="btn btn-block btn-raised btn-royal mb-2">
                <i class="zmdi zmdi-edit mr-1"></i> Modifier
            </a>
        </div>

        <div class="col-md-8">
          <app-favorites></app-favorites>            
          <app-journal></app-journal>
            
        </div>
    </div>
</div>
