<!DOCTYPE html>
<article class="card card-event wow materialUp">
    <div class="card-header media bg-dark color-white">
        <div class="media">
            <div class="align-self-center mr-3">
                <img src="{{ event.author.image || '/assets/img/no-picture.jpg'}}" alt="{{ event.author.displayName }}" class="img-avatar-circle-sm mr-1">
            </div>
            <div class="media-body">
                <a class="btn-link" [routerLink]="[ '/account', event.author._id, 'detail' ]" *ngIf="!event.isMine">{{ event.author.displayName }}</a>
                <a class="btn-link" [routerLink]="[ '/account/profile' ]" *ngIf="event.isMine">vous</a>
                <small>{{ event.type | eventType:event.isMine}}</small><br>
                <span>
                    <i class="fa fa-clock-o no-mr color-info"></i>
                    <small>{{ event.updatedAt | amLocale:'fr' | amTimeAgo}}</small>
                </span>
            </div>
        </div>
    </div>

    <div class="card card-item" *ngIf="event.source.item">

        <app-user *ngIf="event.source.kind === 'user'" [user]="event.source.item"></app-user>
        <app-article *ngIf="event.source.kind === 'article'" [article]="event.source.item"></app-article>
        <app-proposition *ngIf="event.source.kind === 'proposition'" [proposition]="event.source.item"></app-proposition>
        <app-rating *ngIf="event.source.kind === 'rating'" [rating]="event.source.item"></app-rating>
        <app-task *ngIf="event.source.kind === 'task'" [task]="event.source.item"></app-task>
        <app-tender *ngIf="event.source.kind === 'tender'" [tender]="event.source.item"></app-tender>
        <app-comment *ngIf="event.source.kind === 'comment'" [comment]="event.source.item"></app-comment>
        <app-like *ngIf="event.source.kind === 'like'" [like]="event.source.item"></app-like>

        <div class="card-footer bg-white">
            <div class="row justify-content-center">
                <div class="col">
                    <a (click)="canLike ? like() : unlike()" 
                    fragment="likes"
                    class="btn btn-royal color-white btn-raised btn-block btn-sm no-mt"
                    *ngIf="isPublication">
                        <i class="fa no-mr"
                        [class.fa-thumbs-o-up]="canLike"
                        [class.fa-thumbs-up]="!canLike"></i>
                        <span class="d-none d-md-inline-block ml-1">
                            {{ canLike ? 'J\'aime' : 'Je n\'aime plus' }}
                        </span>
                    </a>
                </div>
                <div class="col">
                    <a (click)="setEdit()"
                    fragment="comments" 
                    class="btn btn-info color-white btn-raised btn-block btn-sm no-mt" 
                    *ngIf="isPublication">
                        <i class="fa fa-comments no-mr"></i>
                        <span class="d-none d-md-inline-block ml-1">Commenter</span>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['/', source.kind , source.item._id, 'detail' ]" 
                    class="btn btn-primary color-white btn-block btn-raised btn-sm no-mt"
                    *ngIf="isPublication">
                        <i class="fa fa-ellipsis-h no-mr"></i>
                        <span class="d-none d-md-inline-block ml-1">Plus</span>
                    </a>
                    <a [routerLink]="['/account', source.item._id, 'detail' ]" 
                    class="btn btn-primary color-white btn-block btn-raised btn-sm no-mt"
                    *ngIf="!isPublication">
                        <i class="fa fa-info-circle no-mr"></i>
                        <span class="d-none d-md-inline-block ml-1">Decouvrir</span>
                    </a>
                </div>
            </div>
            <form *ngIf="isEdit && isPublication">
                <fieldset>
                    <div class="form-group">
                        <input type="text" name="text" class="form-control" [(ngModel)]="text" placeholder="Votre commentaire ..."/>
                        <div class="text-right">
                            <a class="btn btn-sm btn-primary btn-raised" (click)="comment()">Commenter</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</article>






