<!DOCTYPE html>
<li class="ms-timeline-item ms-media-list">
    <div class="ms-timeline-date">
        <time class="timeline-time">{{ event.updatedAt | amLocale:'fr' | amTimeAgo}}</time>
        <i class="ms-timeline-point"></i>
    </div> 
    <div class="card card-event no-p wow materialUp">
        <div class="alert alert-default">
            <em>{{ event.type | eventType:isEventFromCurrentUser():event.author.displayName }}</em>
        </div>    
        <div class="card card-item" *ngIf="event.source.kind !== 'user' || !isEventFromCurrentUser()">
            <app-user *ngIf="event.source.kind === 'user' && !isEventFromCurrentUser()" [user]="event.source.item"></app-user>
            <app-article *ngIf="event.source.kind === 'article'" [article]="event.source.item"></app-article>
            <app-proposition *ngIf="event.source.kind === 'proposition'" [proposition]="event.source.item"></app-proposition>
            <app-rating *ngIf="event.source.kind === 'rating'" [rating]="event.source.item"></app-rating>
            <app-task *ngIf="event.source.kind === 'task'" [task]="event.source.item"></app-task>
            <app-tender *ngIf="event.source.kind === 'tender'" [tender]="even.source.item"></app-tender>
            <app-comment *ngIf="event.source.kind === 'comment'" [comment]="event.source.item"></app-comment>
            <app-like *ngIf="event.source.kind === 'like'" [like]="event.source.item"></app-like>
        </div>
    </div>
</li>




