<!DOCTYPE html>
<app-header [image]="'palissade'">
    <h1 class="no-m ms-site-title color-warning center-block ms-site-title-lg mt-4 animated zoomInDown animation-delay-5 text-uppercase">Fil d'actualité</h1>
    <p class="lead lead-lg color-light text-center center-block mt-4 mb-4 mw-800 fw-300 animated fadeInUp animation-delay-7">
      Découvrez, vivez et partagez<br>
      vos expériences avec les autres membres de la communauté.
    </p>
    <div class="row justify-content-center mb-4 mt-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a [routerLink]="['/article/create']" class="btn btn-raised btn-block btn-primary">Publier un article</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a [routerLink]="['/tender/create']" class="btn btn-raised btn-block btn-warning">Publier un appel d'offres</a>
        </div>
    </div>
</app-header>
<div class="card card-hero card-light-inverse card-block animated fadeInUp animation-delay-2">
    <div class="row">
        <div class="col-lg-8">
            <app-events></app-events>
        </div>
        <div class="col-lg-4">
            <app-articles></app-articles>
            <app-tenders></app-tenders>
        </div>
    </div>
</div>

