<!DOCTYPE html>
<app-header [image]="'photograph'">
    <h1 class="no-m ms-site-title color-warning center-block ms-site-title-lg mt-4 animated zoomInDown animation-delay-5 text-uppercase">Fil d'actualité</h1>
    <p class="lead lead-lg color-light text-center center-block mt-4 mb-4 mw-800 fw-300 animated fadeInUp animation-delay-7">
      Découvrez, vivez et partagez<br>
      vos expériences avec les autres membres de la communauté.
    </p>
</app-header>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <ul class="list-unstyled">
                <li *ngFor="let event of events">
                    <app-event [event]="event"></app-event>  
                </li>
            </ul> 
        </div>
    </div>
</div>

