<!DOCTYPE html>
<app-header [image]="'photograph'">
    <h1 class="no-m ms-site-title color-warning center-block ms-site-title-lg mt-4 animated zoomInDown animation-delay-5 text-uppercase">Fil d'actualité</h1>
    <p class="lead lead-lg color-light text-center center-block mt-4 mb-4 mw-800 fw-300 animated fadeInUp animation-delay-7">
      Découvrez, vivez et partagez<br>
      vos expériences avec les autres membres de la communauté.
    </p>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <article class="card wow fadeInLeft animation-delay-5 mb-4" *ngFor="let event of events">
          <div class="media p-3 bg-dark color-medium-dark">
              <div class="media-left media-object media-middle">
                  <img src="{{ event.author.image || '/assets/img/no-picture.jpg'}}" alt="{{ event.author.displayName }}" class="img-avatar-circle-sm mr-1">
              </div>
              <div class="media-body media-middle">
                <a class="media-title" href="#">{{ event.author.displayName }}</a>
                <small>{{ event.type | eventType:isEventFromCurrentUser(event):event.author.displayName }}</small>
              </div>
              <div class="media-footer media-bottom">
                <small class="color-medium-dark">{{ event.updatedAt | amLocale:'fr' | amTimeAgo}}</small>
              </div>
          </div>
        <app-event [event]="event"></app-event>  
      </article>
    </div>
  </div>
</div>

