<!DOCTYPE html>
<div class="card-block">
    <h2 class="color-primary no-mb">Favoris</h2>
    <a (click)="setEdit()" class="btn-circle btn-circle-success btn-circle-raised btn-card-float right wow zoomInDown">
        <i class="zmdi zmdi-plus"></i>
    </a>
    <ul class="list-group" *ngIf="favorites">
            <li class="list-group-item" *ngFor="let favorite of favorites">
                <div class="media">
                    <div class="media-left media-middle">
                        <img class="media-object media-object-circle" src="/assets/img/categories/{{ favorite.photo }}" alt="{{ favorite.name }}"/>
                    </div>
                    <div class="media-body">
                        <div class="media-middle">
                            <h4 class="media-heading">{{ favorite.title }}</h4>
                        </div>
                    </div>
                    <div class="media-right media-middle">
                        <a class="btn-circle btn-circle-danger" (click)="unfavorite(favorite._id)">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
</div>

