@import '/assets/css/plugins.min.css';
@import '/assets/css/preload.min.css';
@import '/assets/css/style.deep-purple-700.min.css';


// Set padding to keep content from hitting the edges
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

// Allow only vertical resizing of textareas
textarea {
  resize: vertical;
}