@import '/assets/css/preload.min.css';
@import '/assets/css/plugins.min.css';
@import '/assets/css/style.cyan-800.min.css';

// Set padding to keep content from hitting the edges
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

// Allow only vertical resizing of textareas
textarea {
  resize: vertical;
}

.img-circle {
  height: 50px;
  width: 50px;
}

.ms-hero-img-electrician {
  background-image: url('/assets/img/electrician.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-photograph {
  background-image: url('/assets/img/photograph.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-palissade {
  background-image: url('/assets/img/vernis-palissade.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-glasses {
  background-image: url('/assets/img/glasses.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-painter {
  background-image: url('/assets/img/painter.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-cook {
  background-image: url('/assets/img/cuisinier.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-hairstyling {
  background-image: url('/assets/img/coiffure.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-room {
  background-image: url('/assets/img/room.jpg');
  background-position: center center;
  background-size: cover;
}

.two-cols {
  overflow: hidden;
  width: 100%;
}

.two-cols li {
  float: left;
  width: 50%;
}

.two-cols li a {
  display: block;
  overflow: hidden;
  padding: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-cols li a i {
  color: #26c6da;
  margin-right: 10px;
  text-align: center;
  width: 15px;
}

.two-cols li a:hover i {
  -webkit-transform: rotateY(360deg);
  color: #ffa726;
  transform: rotateY(360deg);
  transition: all ease .5s;
}
@media(max-width:767px) {
  .wrap {
    padding: 10px;
    padding: 1rem;
    position: relative;
    z-index: 1;
  }
}

@media(min-width:768px) {
  .wrap {
    padding: 20px;
    padding: 2rem;
    position: relative;
    z-index: 1;
  }
}

.ms-footbar::before {
  background-color: none;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

@media(max-width:767px) {
  .rating-list span.rating-list-item {
      font-size: 24px;
  }
}

@media(min-width:768px) {
  .rating-list span.rating-list-item {
      font-size: 48px;
  }
}
.rating-list span.rating-list-item-sm {
  font-size: 14px;
}
.upload-picture:hover {
  cursor: pointer;
}

agm-map {
  height: 200px;
}



.profile-rating {
  font-size: 11px;
  text-align: left;
  margin: 0px;
}

.img-avatar-circle-sm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #fff;
  margin: 0 auto;
  display: block;
}

.pub-title {
  font-size: 20px;
  font-weight: 400;
  color: rgb(0, 97, 100);
}

@media(min-width:768px) {
  .ms-timeline .ms-timeline-item .card.card-event:after {
      display: block;
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 15px;
      left: -35px;
      border-right: solid 15px rgba(0, 131, 143, 0.6);
      border-left: solid 20px transparent;
      border-top: solid 13px transparent;
      border-bottom: solid 13px transparent;
  }
}

@media(max-width:767px) {
  .card .card-header,.card .card-block {
    padding: 10px;
  } 
  .media-body .media-title {
    font-size: 13px;
  }
  .media-footer.media-bottom small,.media-body small  {
    font-size:10px;
  }
}

.ms-icon {
  width: auto;
  padding: 8px;
  line-height: 1.4;
}

.bg-none{
  background: none !important;
}

blockquote {
  text-align: justify;
  word-wrap: break-word;
  white-space: pre-line;
}