@import '/assets/css/preload.min.css';
@import '/assets/css/plugins.min.css';
@import '/assets/css/style.cyan-800.min.css';

// Set padding to keep content from hitting the edges
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

// Allow only vertical resizing of textareas
textarea {
  resize: vertical;
}

.img-circle {
  height: 50px;
  width: 50px;
}

.ms-hero-img-electrician {
  background-image: url('/assets/img/electrician.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-photograph {
  background-image: url('/assets/img/photograph.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-palissade {
  background-image: url('/assets/img/vernis-palissade.jpg');
  background-position: center center;
  background-size: cover;
}

.ms-hero-img-glasses {
  background-image: url('/assets/img/glasses.jpg');
  background-position: center center;
  background-size: cover;
}

.two-cols {
  overflow: hidden;
  width: 100%;
}

.two-cols li {
  float: left;
  width: 50%;
}

.two-cols li a {
  display: block;
  overflow: hidden;
  padding: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-cols li a i {
  color: #26c6da;
  margin-right: 10px;
  text-align: center;
  width: 15px;
}

.two-cols li a:hover i {
  -webkit-transform: rotateY(360deg);
  color: #ffa726;
  transform: rotateY(360deg);
  transition: all ease .5s;
}

.wrap {
  padding: 40px;
  padding: 4rem;
  position: relative;
  z-index: 1;
}

.ms-footbar::before {
  background-color: none;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.text-ellipsis {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;
}

.text-ellipsis:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-ellipsis:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

@media(max-width:767px) {
  .rating-list span.rating-list-item {
      font-size: 24px;
  }
}

@media(min-width:768px) {
  .rating-list span.rating-list-item {
      font-size: 48px;
  }
}
.rating-list span.rating-list-item-sm {
  font-size: 14px;
}
.upload-picture:hover {
  cursor: pointer;
}

.bg-stats {
  background-color: #cf7a02 !important;
  color: #fff
}

.bg-favorite {
  background-color: #af92b4 !important;
  color: #fff
}

agm-map {
  height: 200px;
}

.ms-timeline .ms-timeline-item .card.card-event {
  padding: 0px;
  border:none;
}

.ms-timeline .ms-timeline-item .card.card-item {
  border-right:1px solid #eee;
  border-left:1px solid #eee;
  border-bottom:1px solid #eee;
  color: #424242 !important;
  background-color:rgba(0, 97, 100, 0.01);
  margin:0px;
  box-shadow: none;
}
 .ms-timeline .ms-timeline-item .card.card-item a.link {
      color: #fff;
  }
  .ms-timeline .ms-timeline-item .card.card-item a.link:hover, .card.card-item a.link:focus {
        border-bottom: solid 1px #fff;
    }

.ms-timeline .ms-timeline-item .alert {
  border:1px solid #eee;
  margin: 0px;
  background-color:rgba(0, 97, 100,.01);
  box-shadow: none;
}

@media(min-width:768px) {
  .ms-timeline .ms-timeline-item .card.card-event:after {
      display: block;
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 15px;
      left: -35px;
      border-right: solid 15px rgba(0, 131, 143, 0.6);
      border-left: solid 20px transparent;
      border-top: solid 13px transparent;
      border-bottom: solid 13px transparent;
  }
  
  .ms-timeline .ms-timeline-item:hover .card.card-event {
      box-shadow: 0 4px 5px 0 rgba(0, 97, 100, 0.3),0 1px 10px 0 rgba(0, 97, 100,.3),0 2px 4px -1px rgba(0, 97, 100,.4);
  }

  .ms-timeline .ms-timeline-item:hover .card.card-event:after {
      border-right: solid 15px rgb(0, 97, 100);
  }

  .ms-timeline .ms-timeline-item:hover .card.card-item {
      box-shadow: none;
  }
}

.profile-rating {
  font-size: 11px;
  text-align: left;
  margin: 0px;
}

