<!DOCTYPE html>
<div class="wow materialUp" *ngIf="hasLikes">
    <div class="list-group">
        <div class="list-group-item media" *ngFor="let like of likes">
            <div class="align-self-center mr-3">
                <img src="{{ like.author.image || '/assets/img/no-picture.jpg' }}" alt="{{ like.author.displayName }}" class="img-avatar-circle-sm mr-1">
            </div>
            <div class="media-body">
                <a [routerLink]="['/account', like.author._id, 'detail' ]" *ngIf="!like.canEdit">
                    <h5 class="media-title">{{ like.author.displayName }}</h5>
                </a> 
                <a [routerLink]="['/account/profile' ]" *ngIf="like.canEdit">
                    <h5 class="media-title">vous</h5>
                </a>
            </div>
            <div class="media-footer media-bottom text-right">
                <i class="zmdi zmdi-time no-mr"></i>
                <small>{{ like.updatedAt | amLocale:'fr' | amTimeAgo}}</small>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary mt-1 mb-1" (click)="navigate(query.page - 1)" *ngIf="hasPrec">
            <i class="zmdi zmdi-arrow-left mr-1"></i>
            Prec
        </a>
        <a class="btn btn-primary mt-1 mb-1" (click)="navigate(query.page + 1)" *ngIf="hasNext">
            Suiv
            <i class="zmdi zmdi-arrow-right ml-1"></i> 
        </a>
    </div>
</div>

<div class="card-block bg-light text-center" *ngIf="!hasLikes">
    <h2 class="card-text">Soyez le premier à aimer ...</h2>
</div>

<div class="card-block bg-light text-right">
    <a (click)="mylike ? unlike() : like()" 
        class="btn btn-royal color-white btn-raised btn-sm no-mt">
        <i class="zmdi no-mr" 
            [class.zmdi-favorite-outline]="!mylike"
            [class.zmdi-favorite]="mylike"></i>
        <span class="d-none d-md-inline-block ml-1">{{ mylike ? 'Je n\'aime plus' : 'J\'aime'}}</span>
    </a>
</div>


