<!DOCTYPE html>
<div class="list-group">
    <div class="list-group-item media" *ngFor="let like of likes">
        <div class="media-left media-object media-middle">
            <img src="{{ like.author.image || '/assets/img/no-picture.jpg'}}" alt="{{ like.author.displayName }}" class="img-avatar-circle-sm mr-1">
        </div>
        <div class="media-body media-middle">
            <h5 class="media-title">{{ like.author.displayName }}</h5>
        </div>
        <div class="media-footer media-bottom text-right">
            <i class="zmdi zmdi-time no-mr"></i>
            <small>{{ like.updatedAt | amLocale:'fr' | amTimeAgo}}</small>
        </div>
    </div>
</div>
<div class="card-block bg-light text-center" *ngIf="!likes || likes.length <= 0">
    <h2 class="card-text">Soyez le premier à aimer ...</h2>
</div>
<div class="card-block bg-light text-right">
    <a (click)="mylike ? unlike() : like()" 
        class="btn btn-raised btn-sm no-mt"
        [class.btn-info]="!mylike"
        [class.btn-white]="mylike"
        [class.color-info]="mylike">
        <i class="zmdi no-mr" 
            [class.zmdi-favorite-outline]="!mylike"
            [class.zmdi-favorite]="mylike"></i>
        <span class="d-none d-md-inline-block ml-1">{{ mylike ? 'Je n\'aime plus' : 'J\'aime'}}</span>
    </a>
</div>


