<!DOCTYPE html>
<div id="home" class="intro-fixed ms-hero-img-electrician ms-hero-bg-dark color-white">
    <div class="intro-fixed-content index-1">
        <div class="container">
            <div class="text-center mb-4">
                <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">SH</span>
                <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Skills
                    <span>Hub</span>
                </h1>
                <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
                    Trouvez le 
                    <span class="color-warning">meilleur prestataire</span> pour donner vie à toutes vos envies.
                </p>
            </div>
            <div class="text-center mb-4 mt-4">
                <a href="javascript:void(0)" class="btn btn-raised btn-warning">Publier un appel d'offres</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-primary">Répondre à un appel d'offres</a>
            </div>
            <div class="text-center mb-2">
                <a id="go-intro-fixed-next" href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-white animated zoomInUp animation-delay-12">
                    <i class="zmdi zmdi-long-arrow-down"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="btn-back-top">
    <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
        <i class="zmdi zmdi-long-arrow-up"></i>
    </a>
</div>
<div class="bg-light index-1 intro-fixed-next pt-4 pb-4" id="intro-next">
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h2 class="wow fadeInUp animation-delay-2">Vous recherchez un prestataire ?</h2>                    
                    <ol class="service-list list-unstyled mt-4 mb-4">
                        <li class="wow fadeInUp animation-delay-5">Déposez dès maintenant un appel d'offres en quelques clics</li>
                        <li class="wow fadeInUp animation-delay-7">Recevez des offres compétitives</li>
                        <li class="wow fadeInUp animation-delay-9">Choisissez le prestataire qui vous correspond</li>
                    </ol>                    
                    <h2 class="wow fadeInUp animation-delay-12">C'est simple, efficace et gratuit.</h2>
                </div>
                <div class="col-lg-5">
                    <div class="card card-block card-dark-inverse wow fadeInUp animation-delay-12">
                        <h2 class="text-center">Rejoignez nous</h2>
                        <app-register></app-register>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="engagements">
        <div class="wrap ms-hero-img-electrician ms-hero-bg-primary color-white ms-bg-fixed">
            <div class="container">
                <h2 class="text-center mb-4 wow fadeInDown animation-delay-2">Nos engagements</h2>
            </div>
        </div>
    </section>

    <section id="categories">
        <div class="wrap">
            <div class="container">
                <h2 class="text-center mb-4 wow fadeInDown animation-delay-2">Découvrez nos catégories</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let category of categories">
                        <div class="card width-auto">
                            <figure class="ms-thumbnail ms-thumbnail-horizontal">
                                <img src="/assets/img/categories/{{ category.photo }}" alt="{{ category.name }}" class="img-fluid">
                                <figcaption class="ms-thumbnail-caption text-center">
                                    <div class="ms-thumbnail-caption-content">
                                        <h3 class="ms-thumbnail-caption-title mb-3">{{ category.title }}</h3>
                                        <a href="javascript:void(0)" class="btn btn-raised btn-royal">Découvrir</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>

    <section id="ratings">
        <div class="wrap ms-hero-img-electrician ms-hero-bg-dark color-white ms-bg-fixed">
            <div class="container">
                <h2 class="text-center mb-4 wow fadeInDown animation-delay-2">Ils ont été satisfait</h2>
            </div>
        </div>
    </section>

    <section id="recents">
        <div class="wrap">
            <div class="container">
                <h2 class="text-center mb-4 wow fadeInDown animation-delay-2">Quelques actualités récentes</h2>
            </div>
        </div>
    </section>

    <!--Footer-->
    <app-footer></app-footer>
</div>


