<!DOCTYPE html>
<form [formGroup]="registerForm" (submit)="register()">
    <fieldset>
        <app-input
            [text]="'Adresse e-mail'"
            [addonClass] = "'zmdi zmdi-account'"
            [errors]="registerForm.controls.email.errors"
            [defs]="{
                required: 'Adresse e-mail requise',
                email: 'Adresse e-mail invalide'}">
            <input type="email" formControlName="email" name="email" class="form-control">
        </app-input>
        <app-input
            [text]="'Mot de passe'"
            [addonClass]="'zmdi zmdi-lock'" 
            [errors]="registerForm.controls.password.errors"
            [defs]="{ 
            required: 'Mot de passe requis'}">
            <input type="password" formControlName="password" name="password" class="form-control">
        </app-input>
        <app-input
            [text]="'Confirmer mot de passe'"
            [addonClass]="'zmdi zmdi-lock'"
            [errors]="registerForm.controls.confirmpwd.errors"
            [defs]="{ 
                required: 'Cofirmation mot de passe requis',
                notEquivalent: 'Confirmation mot de passe incorrecte'}">
            <input type="password" formControlName="confirmpwd" name="confirmpwd" class="form-control">
        </app-input> 
        <button class="btn btn-block btn-raised btn-primary mt-3" type="submit">Je m'inscris</button>
    </fieldset>
</form>




