<!DOCTYPE html>
<aside class="ms-footbar" *ngIf="this.layout.footerIsVisible">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ms-footer-col">
                <div class="ms-footbar-block">
                    <div class="ms-footbar-title">
                        <span class="ms-logo ms-logo-white ms-logo-sm mr-1">Z</span>
                        <h3 class="no-m ms-site-title">
                            Skills
                            <span>Hub</span>
                        </h3>
                    </div>
                    <ul class="list-unstyled ms-icon-list three_cols">
                        <li>
                            <a routerLink="/"><i class="zmdi zmdi-home"></i> Accueil</a>
                        </li>
                        <li>
                            <a routerLink="/search"><i class="zmdi zmdi-search"></i> Foire aux questions</a>
                        </li>
                        <li>
                            <a routerLink="/help"><i class="zmdi zmdi-help"></i> Besoin d'aide</a>
                        </li>
                        <li>
                            <a routerLink="/contact"><i class="zmdi zmdi-email"></i> Nous contacter</a>
                        </li>

                        <li>
                            <a routerLink="/about"><i class="zmdi zmdi-favorite"></i> A propos de nous</a>
                        </li>
                        <li>
                            <a routerLink="/cga"><i class="zmdi zmdi-lock"></i> Conditions générales</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3 ms-footer-col ms-footer-text-right">     
                <div class="ms-footbar-title">
                    <h4>Retrouvez nous sur</h4>
                </div>           
                <div class="ms-footbar-block">
                    <div class="ms-footbar-social">
                        <a href="javascript:void(0)" class="btn-circle btn-facebook">
                            <i class="zmdi zmdi-facebook"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-twitter">
                            <i class="zmdi zmdi-twitter"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-google">
                            <i class="zmdi zmdi-google"></i>
                        </a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</aside>

<footer class="ms-footer" *ngIf="this.layout.footerIsVisible">
    <div class="container">
        <p class="text-left">Copyright &copy; SkillsHub {{ today | date: 'yyyy' }}</p>
    </div>
</footer>
