<!DOCTYPE html>
<app-header [image]="'keyboard'">
        <img class="ms-avatar-hero" src="{{ user.image || '/assets/img/no-picture.jpg'}}" alt="{{ user.displayName }}"/>
        <h1 class="color-white mt-4">{{ user.displayName }}</h1>        
        <div class="rating-list mb-4">
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=1"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=2"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=3"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=4"><i class="zmdi zmdi-star" ></i></span>
            <span class="rating-list-item" [class.color-warning]="user.nbStars>=5"><i class="zmdi zmdi-star" ></i></span>
        </div>
        <blockquote class="blockquote color-medium">{{ user.bio }}</blockquote>
    </app-header>
    <div class="container">
        <div class="card card-hero animated fadeInUp animation-delay-7">
            <div class="card-header-100 bg-dark">
                <div class="row justify-content-center">
                    <div class="col col-md-3">
                        <div class="text-center">
                            <h3><strong>{{ user.nbArticles || 0 }}</strong></h3> Articles 
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="text-center">
                            <h3><strong>{{ user.nbTenders || 0 }}</strong></h3> Appels d'offres 
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="text-center">
                            <h3><strong>{{ user.nbComments || 0 }}</strong></h3> Commentaires
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="text-center">
                            <h3><strong>{{ user.nbAvis || 0 }}</strong></h3> Avis
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="card card-primary p-1 animated fadeInUp animation-delay-9">
            <table class="table table-no-border table-striped">
                <tr>
                    <th><i class="zmdi zmdi-face mr-1 color-success"></i> Nom</th>
                    <td>{{ user.displayName }}</td>
                </tr>        
                <tr>
                    <th><i class="zmdi zmdi-calendar mr-1 color-info"></i> Inscrit depuis le</th>
                    <td>{{ user.createdAt  | amLocale: 'fr' | amCalendar }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        
    </div>

