<!DOCTYPE html>
<h1 class="text-center mb-4 wow fadeInUp animation-delay-5">Faites nous part de vos suggestions</h1>
<div class="card card-block animated zoomInUp animation-delay-7">
  <div class="row">
    <div class="col-lg-5">
        <iframe width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48342.06480344582!2d-73.980069429762!3d40.775680208459505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2589a018531e3%3A0xb9df1f7387a94119!2sCentral+Park!5e0!3m2!1sen!2sus!4v1491233314840"></iframe>
    </div>
    <div class="col-lg-7">
      <form [formGroup]="contactForm" (submit)="send()">
        <fieldset>
          <div class="form-group row">
            <label for="email" class="col-lg-2 control-label">E-mail</label>
            <div class="col-lg-9">
              <input formControlName="email" type="email" name="email" class="form-control">
            </div>      
          </div>
          <div class="form-group row">
              <label for="subject" class="col-lg-2 control-label">Sujet</label>
              <div class="col-lg-9">
                <input formControlName="subject" type="text" name="subject" class="form-control">
              </div>      
            </div>
            <div class="form-group row">
              <label for="message" class="col-lg-2 control-label">Message</label>
              <div class="col-lg-9">
                <textarea formControlName="message" class="form-control" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group row justify-content-end">
                <div class="col-lg-10">
                  <button type="submit" class="btn btn-raised btn-primary">Envoyer</button>
                  <button type="reset" class="btn btn-link btn-danger">Annuler</button>
                </div>
            </div>      
          </fieldset>
        </form>        
    </div>
  </div>
</div>

